*{
    overflow: hidden;
}

body{
    background-color: #4444BE;
    margin: 0;
    padding: 0;
}

.base{
    width: 100%;
    height: 20px;
    background-color: #211E49;
    fill: #211E49;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#water{
    width:100%;
    height:100vh;
    background-image: url("./underWater.jpeg");
    background-size:cover;
    mix-blend-mode: multiply;
    opacity: 0.1;
    transition: opacity 1s ease;
    position: absolute;
    z-index: 2;
}

img{
    mix-blend-mode: difference;
    opacity: 0.1;
    transition: opacity 1s ease;
    position: absolute;
    z-index: 1;
    animation: 5s infinite linear grow;
}

@keyframes grow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.0);
    }
}


@media screen and (max-width: 480px) {

    img{
        mix-blend-mode: difference;
        opacity: 0.1;
        transition: opacity 1s ease;
        position: absolute;
        z-index: 1;
        transform: scale(0.6);
        animation: 5s infinite linear grow;
    }
    
    @keyframes grow {
        0%{
            transform: scale(0.6);
        }
        50%{
            transform: scale(0.9);
        }
        100%{
            transform: scale(0.6);

        }
    }

}

